.App {
  text-align: center;
}

body{
  color: rgb(201, 169, 209)
}

a{
  padding: 7px;
  font-weight: bold;
  color:rgb(175, 119, 64);
}
a.active{
  color:rgb(245, 181, 118);
}

header{
  height: 5rem;
  width: 100%;
  background-color: rgb(129, 224, 228);
}

.main{
  padding: 20px;
}


.form-control {
  margin-bottom:10px;
}

label{
  width: 100%;
  display: inline-block;
}